.name {
    flex: 1 1 auto;
    font-size: 12px;
    user-select: none;
    text-wrap: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

.editing {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    cursor: text;
    outline: 1px solid var(--primary-color);
    border-radius: 2px;
    background-color: var(--panel-background-color);
}

.icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    padding: 0px 8px;
}

.parent-hidden {
    opacity: 0.56;
}
